
<%= render 'layouts/header' %>

<div class="container">

<h2>Edit Profile</h2>
<p>Find me in app/views/profiles/edit.html.erb</p>

<%= render 'layouts/profile_form' %>

<p>Date: <input type="text" id="datepicker"></p>

<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>

</div>

<%= render 'layouts/footer' %>

