<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">    
      <nav>
        <ul class="nav pull-right">

         <h1> Roommate Finder </h1>

       </ul>
      </nav>
    </div>
  </div>
  <hr/>
</header>