<footer class="footer">
<hr/>
  <small>
    &copy; Copyright 2014  UrbanBound
  </small>
  <nav>
    <ul>
       <li><%= link_to "Home", controller: "welcome" %></li>
        <li><%= link_to "Candidate", 'new_candidate_path' %></li>
        <li><%= link_to "Message", 'new_message_path' %></li>
    </ul>
  </nav>
</footer>