<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">    
      <nav>
        <ul class="nav pull-right">

         <%= render 'layouts/nav' %>

       </ul>
      </nav>
    </div>
  </div>
  <hr/>
</header>