<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">    
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to 'New Profile', new_profile_path %></li>
          <li><%= link_to "Candidate", 'new_candidate_path' %></li>
          <li><%= link_to "Message", 'new_message_path' %></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr/>
</header>